#logop {
    color: #e7663f;
}

#logospan {
    color: #585CA7;
    background-color: #e7663f;
    padding: 0 5px;
    border-radius: 20px;
}

#icart {
    font-size: 40px;
    padding: 0 10px;
    margin: -25px 0px;
}

.cartspan {
    margin-left: 43px;
    background-color: #585CA7;
    font-size: 15px;
}

.red {
    color: red !important;
}

.normaltext {
    text-transform: none !important;
}

.text-center {
    text-align: center !important;
}

.font-large {
    font-size: 40px !important;
}

.pbtm-10 {
    padding-bottom: 1.5em !important;
}

.varifybtn {
    background-color: #6a6ebb !important;
    padding: 0px 20px !important;
    height: 45px !important;
    text-align: center !important;
    font-size: 18px;
    color: white;
}

.varifybtn :hover {
    background-color: #df7b5d !important;
}